<ng-container *ngIf="isAuthenticated$ | async as auth">
  <ng-container *ngIf="auth.success; else signInRegisterTpl"></ng-container>
</ng-container>

<div *ngIf="tenants$ | async as tenants" class="tenants">
  <div *ngFor="let t of tenants" class="tenant"
    [style.background-image]="'url(&quot;/content/tenants/'+t.slug + '/logo.png&quot;)'">
    <a class="stretched-link" [routerLink]="['/', 't', t.slug]">{{ t.name }}</a>
  </div>
</div>

<ng-template #signInRegisterTpl>
  <div class="alert alert-info mb-3">
    <a class="btn btn-lg btn-success mr-2" [routerLink]="['/authentication/login']">Login</a>
    <a class="btn btn-lg btn-success" [routerLink]="['/authentication/register']">Register</a>
  </div>
</ng-template>
