<ng-container *ngIf="competition$ | async as competition">
  <ng-container *ngIf="competition.registrationOpen">
    <div class="register">
      <div class="register-intro">
        <h4>Cost to Enter</h4>
        <p><strong>{{ competition.cost | currency }}</strong> per entry</p>
        <h4>Rules</h4>
        <p>
          Select the winner in the nominated AFL &ldquo;Match of the Round.&rdquo; If you're correct you continue. If
          you're incorrect you are eliminated.
        </p>
        <p>
          <strong>Draw:</strong> If the match of the round results in a draw then all non-eliminated entries will
          continue.
        </p>
        <p>
          <strong>Double Chance:</strong> New to 2024, each entry is allowed one incorrect tip during the season. The
          entry
          will be eliminated after a second incorrect tip.
        </p>
        <p>All entries must be completed and paid for before the start of the first match on
          {{ competition.registrationDate | date:'d MMM yyyy h:mm a' }}.</p>
        <h4>Prizes</h4>
        <p>To be determined&hellip; Stay tuned!</p>
        <h4>Queries</h4>
        <p>Contact Steve Prowse (0422 869 460).</p>

        <h4>
          <a [routerLink]="['register']" class="btn btn-lg btn-primary">Register an Entry</a>
        </h4>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!competition.registrationOpen">
    <app-ladder></app-ladder>
  </ng-container>
</ng-container>
