<ng-container *ngIf="model$ | async as model">
  <h3>Manage: <strong>{{ model.team.name }}</strong></h3>
  <div class="cmd-bar">
    <a class="btn btn-secondary" [routerLink]="['../..']">
      <i class="fas fa-fw fa-chevron-left"></i>
      Back to Team List
    </a>
  </div>

  <div class="row" *ngIf="getCurrentTeam(model) as currentTeam">
    <div class="col-md-6 col-my-team">
      <h4>Your Team</h4>
      <p>
        Remaining Balance: {{ model.current.balance }}
      </p>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>&nbsp;</th>
            <th>Player</th>
            <th class="text-center">Cost</th>
            <th class="text-right">Points</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="currentTeam.length === 0" class="table-warning">
            <td colspan="6" class="text-center">
              There are no players in your team.  Add players from the available list.
            </td>
          </tr>
          <tr *ngFor="let p of currentTeam; let i = index">
            <td class="text-right">
              {{ i + 1 }}
              <i *ngIf="p.added" class="fas fa-fw fa-plus-square text-success" title="Newly Added"></i>
            </td>
            <td class="col-captain">
              <button type="button" class="btn btn-sm" (click)="setCaptain(model, p)" [class.btn-primary]="p.captain"
                [class.btn-outline-secondary]="!p.captain">C</button>
              <button type="button" class="btn btn-sm" (click)="setViceCaptain(model, p)"
                [class.btn-primary]="p.vicecaptain" [class.btn-outline-secondary]="!p.vicecaptain">VC</button>
            </td>
            <td>{{ p.name }}</td>
            <td class="text-center">{{ p.cost }}</td>
            <td class="text-right">{{ p.points | number }}</td>
            <td class="text-right">
              <button type="button" class="btn btn-danger btn-sm" (click)="removePlayerFromTeam(model, p)">
                <i class="fas fa-fw fa-times"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2">
              <strong>{{ currentTeam.length }}</strong> / 12
            </th>
            <th colspan="4">
              <div class="c-vc-needed">
                <span *ngIf="!isCaptainSet(currentTeam)">Captain needed.</span>
                <span *ngIf="!isViceCaptainSet(currentTeam)">Vice Captain needed.</span>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
      <div class="cmd-bar">
        <button type="button" class="btn btn-success" (click)="saveTeam(model)" [disabled]="!isTeamValid(currentTeam, model)">Save Team</button>
        <button type="button" class="btn btn-secondary" (click)="revertTeam(model)">Revert Team</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="currentTeam.length < 12">
      <h4>Available Players</h4>
      <p>Choose a player to add to your team.</p>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>&nbsp;</th>
            <th>Player</th>
            <th class="text-center">Cost</th>
            <th class="text-right">Points</th>
          </tr>
        </thead>
        <tbody *ngIf="getAvailablePlayers(model) as availablePlayers">
          <tr *ngIf="availablePlayers.length === 0" class="table-warning">
            <td colspan="4" class="text-center">
              There are no players available that would fit within your budget.  Try removing some high value players from
              your team and add some lower values ones instead.
            </td>
          </tr>
          <tr *ngFor="let p of availablePlayers">
            <td>
              <button type="button" class="btn btn-sm btn-success" (click)="addPlayerToTeam(model, p)">
                <i class="fas fa-plus fa-fw"></i>
              </button>
            </td>
            <td>{{ p.name }}</td>
            <td class="text-center">{{ p.cost }}</td>
            <td class="text-right">{{ p.points | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
