<ng-container *ngIf="model$ | async as model">
  <h2 class="d-flex flex-wrap justify-content-between">
    <span class="mr-5">{{ model.team.name }}</span>
    <strong class="text-muted">
      {{ model.total.points | number }} points
    </strong>
  </h2>
  <h4 class="d-flex flex-wrap justify-content-between">
    <span class="mr-5">{{ model.team.owner }}</span>
    <strong class="text-muted">Rank: {{ model.total.seasonRank | number }}</strong>
  </h4>

  <div class="border-top mt-3 pt-3">
    <ng-template #tplPlayersHidden>
      <div class="alert alert-info">
        You cannot see players for this team during a trade period.
      </div>
    </ng-template>
    <div class="row" *ngIf="model.players; else tplPlayersHidden">
      <div class="col-6">
        <h4>Current Players</h4>
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th>&nbsp;</th>
              <th>Player</th>
              <th class="text-center">Cost</th>
              <th class="text-right">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of model.players; let i = index">
              <td class="col-captain">
                <button type="button" class="btn btn-sm" popover="Captain" *ngIf="p.type == TeamPlayerType.Captain"
                  [class.btn-primary]="p.type == TeamPlayerType.Captain">C</button>
                <button type="button" class="btn btn-sm" popover="Vice Captain"
                  *ngIf="p.type == TeamPlayerType.ViceCaptain"
                  [class.btn-primary]="p.type === TeamPlayerType.ViceCaptain">VC</button>
              </td>
              <td>
                <a [routerLink]="['..', '..', 'player', p.id]">
                  {{ p.name }}
                </a>
                <span *ngIf="p.multiplier > 1" class="badge badge-primary float-right"
                  popover="This player receives a {{ p.multiplier | number }}x point bonus">{{ p.multiplier | number
                  }}x</span>
              </td>
              <td class="text-center">{{ p.cost }}</td>
              <td class="text-right">{{ p.points | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="chart-container border-top mt-3 pt-3" *ngIf="chartParam$ | async as chartParams">
    <h4>Chart and Comparison
      <div class="float-right">
        <div class="btn-group btn-group-sm mr-1">
          <button type="button" class="btn btn-secondary" [class.active]="chartParams.view === 'rank'"
            (click)="setChartView(chartParams, 'rank')">
            <i class="fa fa-fw" [class.fa-circle]="chartParams.view !== 'rank'"
              [class.fa-check-circle]="chartParams.view === 'rank'"></i>
              Rank
          </button>
          <button type="button" class="btn btn-secondary" [class.active]="chartParams.view === 'points'"
            (click)="setChartView(chartParams, 'points')">
            <i class="fa fa-fw" [class.fa-circle]="chartParams.view !== 'points'"
              [class.fa-check-circle]="chartParams.view === 'points'"></i>
              Points
          </button>
        </div>
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-secondary" [class.active]="chartParams.type === 'cumulative'"
            (click)="toggleChartType(chartParams)" [disabled]="chartParams.view === 'rank'">
            <i class="fa fa-fw" [class.fa-square]="chartParams.type !== 'cumulative'"
              [class.fa-check-square]="chartParams.type === 'cumulative'"></i>
            Cumulative
          </button>
        </div>
      </div>
    </h4>
    <div echarts [options]="chart$ | async" [loading]="loadingChart" theme="dark"></div>
  </div>

  <div class="border-top mt-3 pt-3">
    <h4>Round by Round</h4>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Round</th>
            <th class="text-center" popover="Runs">R</th>
            <th class="text-center" popover="Unassisted Wickets">UW</th>
            <th class="text-center" popover="Assisted Wickets">AW</th>
            <th class="text-center" popover="Catches">C</th>
            <th class="text-center" popover="Runouts">RO</th>
            <th class="text-center" popover="Stumpings">ST</th>
            <th class="text-right">Points</th>
            <th class="text-center" popover="Ranking for Round">RR</th>
            <th class="text-center" popover="Ranking for Season">SR</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of model.rounds">
            <td>{{ r.round }}</td>
            <td class="text-center">{{ r.runs | number }}</td>
            <td class="text-center">{{ r.unassistedWickets | number }}</td>
            <td class="text-center">{{ r.assistedWickets | number }}</td>
            <td class="text-center">{{ r.catches | number }}</td>
            <td class="text-center">{{ r.runouts | number }}</td>
            <td class="text-center">{{ r.stumpings | number }}</td>
            <td class="text-right">{{ r.points | number }}</td>
            <td class="text-center">{{ r.roundRank | number }}</td>
            <td class="text-center">{{ r.seasonRank | number }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Total</th>
            <th class="text-center">{{ model.total.runs | number }}</th>
            <th class="text-center">{{ model.total.unassistedWickets | number }}</th>
            <th class="text-center">{{ model.total.assistedWickets | number }}</th>
            <th class="text-center">{{ model.total.catches | number }}</th>
            <th class="text-center">{{ model.total.runouts | number }}</th>
            <th class="text-center">{{ model.total.stumpings | number }}</th>
            <th class="text-right">{{ model.total.points | number }}</th>
            <th class="text-center">&nbsp;</th>
            <th class="text-center">{{ model.total.seasonRank | number }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</ng-container>
