<ng-container *ngIf="model$ | async as model">

  <h5 class="d-flex border-bottom">
    <span class="p-2 align-self-center">
      <a [routerLink]="['..']" class="btn btn-secondary mr-3">
        <i class="fas fa-fw fa-chevron-left"></i>
        Back
      </a>
    </span>
    <span class="p-2 align-self-center">
      Round: <strong>{{ model.round.name }}</strong>
    </span>
    <span class="ml-auto p-2 align-self-center">{{ model.round.startDate | date:'EEE d MMM yyyy'}} -
      {{ model.round.endDate | date:'EEE d MMM yyyy'}}</span>
  </h5>

  <div class="alert alert-info" *ngIf="model.canEdit">
    <button type="button" class="btn btn-info" (click)="completeRound(model)">Mark Round as Complete</button>
  </div>

  <div class="alert alert-warning" *ngIf="!model.canEdit">
    <button type="button" class="btn btn-warning" (click)="reopenRound(model)">Reopen Round</button>
  </div>

  <h5>Players</h5>

  <table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Player</th>
        <th class="text-center" title="Runs">R</th>
        <th class="text-center" title="Unassisted Wickets">UW</th>
        <th class="text-center" title="Assisted Wickets">AW</th>
        <th class="text-center" title="Catches">C</th>
        <th class="text-center" title="Runouts">RO</th>
        <th class="text-center" title="Stumpings">ST</th>
        <th class="text-center">Points</th>
        <th class="text-right">
          <button type="button" class="btn btn-sm btn-dark" (click)="refresh()">
            <i class="fas fa-fw fa-sync"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="players$ | async as players">
      <tr *ngIf="players.length == 0">
        <td colspan="9" class="table-info text-center"><em>There are no players for this round.</em></td>
      </tr>
      <ng-container *ngFor="let p of players; let i = index">
        <tr *ngIf="editIndex != i; else updatePlayerTpl" [class.table-secondary]="editIndex != null"
          [class.text-muted]="editIndex != null">
          <td class="text-nowrap">{{ p.name }}</td>
          <td class="text-center">{{ p.points?.runs }}</td>
          <td class="text-center">{{ p.points?.unassistedWickets }}</td>
          <td class="text-center">{{ p.points?.assistedWickets }}</td>
          <td class="text-center">{{ p.points?.catches }}</td>
          <td class="text-center">{{ p.points?.runouts }}</td>
          <td class="text-center">{{ p.points?.stumpings }}</td>
          <td class="text-center">{{ p.total }}</td>
          <td class="text-right text-nowrap">
            <div class="btn-group" *ngIf="model.canEdit">
              <button type="button" class="btn btn-primary" (click)="updatePlayerStart(p, i)"
                [disabled]="editIndex != null">Update</button>
              <button type="button" class="btn btn-danger" (click)="deletePlayerStart(p, deletePlayerDlg)"
                [disabled]="editIndex != null">Delete</button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tfoot *ngIf="model.canEdit" class="form">
      <tr>
        <td colspan="9">
          <h5>Add Player to Round</h5>
        </td>
      </tr>
      <tr *ngIf="availablePlayers$ | async as availablePlayers">
        <td>
          <select required [(ngModel)]="newPlayer.playerId" class="form-control">
            <option [ngValue]="null">(Select)</option>
            <option *ngFor="let ap of availablePlayers" [value]="ap.id">{{ ap.name }}</option>
          </select>
        </td>
        <td>
          <input type="number" class="form-control" min="0" [(ngModel)]="newPlayer.points.runs" required>
        </td>
        <td>
          <input type="number" class="form-control" min="0" [(ngModel)]="newPlayer.points.unassistedWickets" required>
        </td>
        <td>
          <input type="number" class="form-control" min="0" [(ngModel)]="newPlayer.points.assistedWickets" required>
        </td>
        <td>
          <input type="number" class="form-control" min="0" [(ngModel)]="newPlayer.points.catches" required>
        </td>
        <td>
          <input type="number" class="form-control" min="0" [(ngModel)]="newPlayer.points.runouts" required>
        </td>
        <td>
          <input type="number" class="form-control" min="0" [(ngModel)]="newPlayer.points.stumpings" required>
        </td>
        <td class="text-right">
          {{ calculatePoints(model.season, model.allPlayers, newPlayer.playerId, newPlayer.points) | number:'1.0-0' }}
        </td>
        <td class="text-right text-nowrap">
          <div class="btn-group">
            <button type="button" class="btn btn-success" [disabled]="!isValidPlayer(newPlayer)"
              (click)="addPlayer(model.tenant.slug, model.season.id, model.round.id)">Save</button>
            <button type="button" class="btn btn-secondary" (click)="cancelAddPlayer()">Cancel</button>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>

  <ng-template #updatePlayerTpl>
    <tr *ngIf="editPlayer$ | async as editPlayer" class="form">
      <td>{{ editPlayer.name }}</td>
      <td>
        <input type="number" class="form-control" min="0" [(ngModel)]="editPlayer.points.runs" required>
      </td>
      <td>
        <input type="number" class="form-control" min="0" [(ngModel)]="editPlayer.points.unassistedWickets" required>
      </td>
      <td>
        <input type="number" class="form-control" min="0" [(ngModel)]="editPlayer.points.assistedWickets" required>
      </td>
      <td>
        <input type="number" class="form-control" min="0" [(ngModel)]="editPlayer.points.catches" required>
      </td>
      <td>
        <input type="number" class="form-control" min="0" [(ngModel)]="editPlayer.points.runouts" required>
      </td>
      <td>
        <input type="number" class="form-control" min="0" [(ngModel)]="editPlayer.points.stumpings" required>
      </td>
      <td class="text-right">
        {{ calculatePoints(model.season, model.allPlayers, editPlayer.playerId, editPlayer.points) | number:'1.0-0' }}
      </td>
      <td class="text-right text-nowrap">
        <div class="btn-group">
          <button type="button" class="btn btn-success" [disabled]="!isValidPlayer(editPlayer)"
            (click)="updatePlayer(model.tenant.slug, model.season.id, model.round.id, editPlayer)">Save</button>
          <button type="button" class="btn btn-secondary" (click)="cancelUpdatePlayer()">Cancel</button>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template #deletePlayerDlg>
    <ng-container *ngIf="editPlayer$ | async as editPlayer">
      <div class="modal-header">
        <h4 class="modal-title">Delete Player</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete the player '{{ editPlayer.name }}' from this round?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deletePlayer(model.tenant.slug, model.season.id, model.round.id, editPlayer)">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="cancelDeletePlayer()">Cancel</button>
      </div>
    </ng-container>
  </ng-template>

</ng-container>
