<table class="table table-hover table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Multiplier</th>
      <th class="text-right">
        <button type="button" class="btn btn-sm btn-dark" (click)="refresh()">
          <i class="fas fa-fw fa-sync"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="players$ | async as players">
      <ng-container *ngFor="let p of players; let i = index">
        <tr *ngIf="editIndex != i; else editPlayerTpl" [class.table-secondary]="editIndex != null" [class.text-muted]="editIndex != null">
          <td>{{ p.name }}</td>
          <td>{{ p.cost }}</td>
          <td>{{ p.multiplier | playerMultiplier }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="button" [disabled]="editIndex != null" class="btn btn-primary"
                (click)="startUpdatePlayer(p, i)">Update</button>
              <button type="button" [disabled]="editIndex != null" class="btn btn-danger"
                (click)="deletePlayerModal(p, deletePlayerDlg)">Delete</button>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
  <tfoot class="form">
    <tr>
      <td colspan="4">
        <h5 class="mt-3">Add Player</h5>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" class="form-control" required [(ngModel)]="newPlayer.name">
      </td>
      <td>
        <input type="number" class="form-control" min="5" max="20" required [(ngModel)]="newPlayer.cost">
      </td>
      <td>
        <select class="form-control" [(ngModel)]="newPlayer.multiplier">
          <option value="1">1X</option>
          <option value="2">2X</option>
          <option value="3">3X</option>
        </select>
      </td>
      <td class="text-right">
        <div class="btn-group">
          <button type="button" class="btn btn-success" (click)="addPlayer()">Save</button>
          <button type="button" class="btn btn-secondary" (click)="cancelAddPlayer()">Cancel</button>
        </div>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #editPlayerTpl>
  <tr class="table-primary form">
    <td>
      <input type="text" class="form-control" required [(ngModel)]="editPlayer.name">
    </td>
    <td>
      <input type="number" class="form-control" min="5" max="20" required [(ngModel)]="editPlayer.cost">
    </td>
    <td>
      <select class="form-control" [(ngModel)]="editPlayer.multiplier">
        <option value="1">1X</option>
        <option value="2">2X</option>
      </select>
    </td>
    <td class="text-right">
      <div class="btn-group">
        <button type="button" class="btn btn-success" (click)="updatePlayer()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="cancelUpdatePlayer()">Cancel</button>
      </div>
    </td>
  </tr>
</ng-template>

<ng-template #deletePlayerDlg>
  <div class="modal-header">
    <h4 class="modal-title">Delete Player</h4>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete the player '{{ editPlayer.name }}' from this season?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deletePlayer(editPlayer)">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cancel</button>
  </div>
</ng-template>
