<ng-container *ngIf="season$ | async as season">

  <table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th class="text-center">Trade Limit</th>
        <th class="text-right">
          <button type="button" class="btn btn-sm btn-dark" (click)="refresh()">
            <i class="fas fa-fw fa-sync"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="tradePeriods$ | async as tradePeriods">
      <tr *ngIf="tradePeriods.length == 0">
        <td colspan="9" class="table-info text-center"><em>There are no trade periods defined for this season.</em></td>
      </tr>
      <ng-container *ngFor="let tp of tradePeriods; let i = index">
        <tr *ngIf="editIndex != i; else updateTradePeriodTpl" [class.table-secondary]="editIndex != null"
          [class.text-muted]="editIndex != null">
          <td>{{ tp.startDate | date:'E, d MMM yyyy' }}</td>
          <td>{{ tp.endDate | date:'E, d MMM yyyy' }}</td>
          <td class="text-center">{{ tp.tradeLimit }}</td>
          <td class="text-right text-nowrap">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" (click)="updateTradePeriodStart(tp, i)"
                [disabled]="editIndex != null">Update</button>
              <button type="button" class="btn btn-danger" (click)="deleteTradePeriodStart(tp, deleteTradePeriodDlg)"
                [disabled]="editIndex != null">Delete</button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tfoot class="form">
      <tr>
        <td colspan="9">
          <h5>Add Trade Period to Round</h5>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="text" class="form-control" readonly autocomplete="off" readonly bsDaterangepicker
            [bsConfig]="bsDatepickerOpts" [(ngModel)]="newTradePeriod.period" required>
        </td>
        <td>
          <input type="number" class="form-control" min="0" [(ngModel)]="newTradePeriod.tradeLimit" required>
        </td>
        <td class="text-right text-nowrap">
          <div class="btn-group">
            <button type="button" class="btn btn-success" [disabled]="!isValidTradePeriod(newTradePeriod)"
              (click)="addTradePeriod(season.id)">Save</button>
            <button type="button" class="btn btn-secondary" (click)="cancelAddTradePeriod()">Cancel</button>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>

  <ng-template #updateTradePeriodTpl>
    <tr *ngIf="editTradePeriod$ | async as editTradePeriod" class="form">
      <td colspan="2">
        <input type="text" class="form-control" required autocomplete="off" readonly bsDaterangepicker
          [bsConfig]="bsDatepickerOpts" [(ngModel)]="editTradePeriod.period">
      </td>
      <td>
        <input type="number" class="form-control" min="0" [(ngModel)]="editTradePeriod.tradeLimit" required>
      </td>
      <td class="text-right text-nowrap">
        <div class="btn-group">
          <button type="button" class="btn btn-success" [disabled]="!isValidTradePeriod(editTradePeriod)"
            (click)="updateTradePeriod(season.id, editTradePeriod)">Save</button>
          <button type="button" class="btn btn-secondary" (click)="cancelUpdateTradePeriod()">Cancel</button>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template #deleteTradePeriodDlg>
    <ng-container *ngIf="editTradePeriod$ | async as editTradePeriod">
      <div class="modal-header">
        <h4 class="modal-title">Delete Trade Period</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete this trade period from the season?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
          (click)="deleteTradePeriod(season.id, editTradePeriod)">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="cancelDeleteTradePeriod()">Cancel</button>
      </div>
    </ng-container>
  </ng-template>

</ng-container>
