<ng-container *ngIf="competition$ | async as model">

  <div class="table-responsive">
    <table class="table []=]table-hover table-dark table-sm">
      <thead class="active">
        <tr>
          <th class="col-name">Name</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of model.entries" [class.eliminated]="e.eliminatedRound > 0">
          <td class="col-name">{{ e.name }}</td>
          <td>
            <div class="tips">
              <ng-container *ngFor="let r of model.rounds; let i = index">
                <div class="tip">
                  <svg appIcon="icn-flag-{{r.teams[e.tips[i]] | clean}}"></svg>
                  <div class="result" [ngClass]="{ 'correct': e.tips[i] === r.result,
                    'incorrect': e.tips[i] !== r.result && r.result !== 4 && r.result !== 0,
                    'draw': r.result === 4 }"></div>
                </div>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
