<ng-container *ngIf="leaderboard$ | async as teams">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">Rank</th>
        <th>Team</th>
        <th class="text-center">R</th>
        <th class="text-center">UW</th>
        <th class="text-center">AW</th>
        <th class="text-center">C</th>
        <th class="text-center">RO</th>
        <th class="text-center">ST</th>
        <th class="text-right">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of teams">
        <td class="text-center">{{ t.rank }}</td>
        <td>{{ t.name }}<br><span class="text-muted">{{ t.owner }}</span></td>
        <td class="text-center">{{ t.runs | number }}</td>
        <td class="text-center">{{ t.unassistedWickets | number }}</td>
        <td class="text-center">{{ t.assistedWickets | number }}</td>
        <td class="text-center">{{ t.catches | number }}</td>
        <td class="text-center">{{ t.runouts | number }}</td>
        <td class="text-center">{{ t.stumpings | number }}</td>
        <td class="text-right">{{ t.points | number }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
