<ng-container *ngIf="model$ | async as model">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Rank</th>
          <th>Team</th>
          <th class="text-right">Points</th>
          <th class="text-center" title="Runs">R</th>
          <th class="text-center" title="Unassisted Wickets">UW</th>
          <th class="text-center" title="Assisted Wickets">AW</th>
          <th class="text-center" title="Catches">C</th>
          <th class="text-center" title="Runouts">RO</th>
          <th class="text-center" title="Stumpings">ST</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of model.leaderboard">
          <td class="text-center">{{ t.rank }}</td>
          <td>
            <a [routerLink]="['/', 's', model.season.id, 'team', t.id]">{{ t.name }}<br><span class="text-muted">{{ t.owner }}</span></a>
          </td>
          <td class="text-right font-weight-bold">{{ t.points | number }}</td>
          <td class="text-center">{{ t.runs | number }}</td>
          <td class="text-center">{{ t.unassistedWickets | number }}</td>
          <td class="text-center">{{ t.assistedWickets | number }}</td>
          <td class="text-center">{{ t.catches | number }}</td>
          <td class="text-center">{{ t.runouts | number }}</td>
          <td class="text-center">{{ t.stumpings | number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
