<ng-container *ngIf="model$ | async as model">
  <ul class="pagination justify-content-center">
    <li *ngFor="let r of model.rounds" class="page-item" routerLinkActive="active">
      <a class="page-link" [routerLink]="['/', 'season', model.season.id, type, r.id]">{{ r.name }}</a>
    </li>
    <li class="page-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="page-link" [routerLink]="['/', 'season', model.season.id, type]">Leaderboard</a>
    </li>
  </ul>
</ng-container>
