<div class="navbar navbar-dark navbar-expand-sm justify-content-between rounded-bottom">
  <div class="navbar-brand">
    <a [routerLink]="['/', 't', season.slug]">{{ season.tenant }}</a>
    <i class="fas fa-chevron-right ml-2 mr-2"></i>
    <a [routerLink]="['/', 's', season.id]">{{ season.name }}</a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/', 's', season.id, 'prizes']">Prizes</a></li>
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/', 's', season.id, 'teams']">Teams</a></li>
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/', 's', season.id, 'players']">Players</a></li>
  </ul>
</div>
