<ng-container *ngIf="season$ | async as season">
  <h3 class="mb-3">
    <a [routerLink]="['.']">Season: <strong>{{ season.name }}</strong></a>
  </h3>

  <ul class="nav nav-tabs" *ngIf="tabs$ | async as tabs">
    <li class="nav-item">
      <a class="nav-link"
        routerLinkActive="active" [routerLink]="['.']" [routerLinkActiveOptions]="{ exact: true }"
        [class.disabled]="!tabs['details']">Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['./players']"
        [class.disabled]="!tabs['players']">
        Players
        <span class="ml-1 badge badge-pill badge-info">{{ season.players }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['./teams']"
        [class.disabled]="!tabs['teams']">
        Teams
        <span class="ml-1 badge badge-pill badge-info">{{ season.teams }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['./rounds']"
        [class.disabled]="!tabs['rounds']">
        Rounds
        <span class="ml-1 badge badge-pill badge-info">{{ season.rounds }}</span>
      </a>
    </li>
  </ul>
  <div class="tab-container">
    <router-outlet></router-outlet>
  </div>
</ng-container>
