<div class="d-lg-flex">
  <div class="mr-3">
    <h1>Rules</h1>
    <p class="lead">Follow the rules and nobody gets hurt.</p>
    <ul>
      <li>A team must have 12 players</li>
      <li>Teams must include a nominated Captain and Vice Captain</li>
      <li>Captains receive double points</li>
      <li>If the Captain does not play, then the Vice Captain will receive double points</li>
      <li>The top 11 players from each round earn points for the team</li>
      <li>The total team value must not exceed the salary cap</li>
      <li>All entries must be paid up before commencement of the season</li>
      <li>Incomplete / Rain affected matches will be included</li>
      <li>All female players earn double points</li>
      <li>A maximum of 3 player substitutions can be made during trade periods</li>
      <li>Substitutions must be finalised before the end of the trade period.</li>
      <li>No other player substitutions can be made</li>
      <li>Substitutions must abide by the salary cap</li>
      <li>BDCA Finals and Twenty20 competitions are not included</li>
      <li>Captain / Vice Captain may only be changed during a trade period</li>
      <li>The Giraffe has the final say</li>
    </ul>
  </div>

  <div *ngIf="season$ | async as season" class="mr-3">
    <h1>{{ season.name }}</h1>

    <dl>
      <dt>Cost to Enter</dt>
      <dd>{{ season.cost | currency }}</dd>
    </dl>

    <dl>
      <dt>Salary Cap</dt>
      <dd>{{ season.budget | number }}</dd>
    </dl>

    <h5>Points per</h5>

    <dl>
      <dt>Run</dt>
      <dd>{{ season.runs | number }}</dd>
    </dl>

    <dl>
      <dt>Unassisted Wicket</dt>
      <dd>{{ season.unassistedWickets | number }}</dd>
    </dl>

    <dl>
      <dt>Assisted Wicket</dt>
      <dd>{{ season.assistedWickets | number }}</dd>
    </dl>

    <dl>
      <dt>Catch</dt>
      <dd>{{ season.catches | number }}</dd>
    </dl>

    <dl>
      <dt>Runout</dt>
      <dd>{{ season.runouts | number }}</dd>
    </dl>

    <dl>
      <dt>Stumping</dt>
      <dd>{{ season.stumpings | number }}</dd>
    </dl>
  </div>

  <div>
    <h1>Prizes</h1>
    <dl>
      <dt>1st Prize</dt>
      <dd>50% of pool</dd>
    </dl>
    <dl>
      <dt>2nd Prize</dt>
      <dd>25% of pool</dd>
    </dl>
    <dl>
      <dt>3rd Prize</dt>
      <dd>15% of pool</dd>
    </dl>
    <dl>
      <dt>Best Team after Christmas</dt>
      <dd>10% of pool</dd>
    </dl>
    <p>$5 from each entry will go to the cricket club.</p>
  </div>
</div>
