<ng-container *ngIf="model$ | async as model">
  <div class="modal-header">
    <h3 class="modal-title">{{ mode === 'update' ? 'Update Season' : 'Add Season' }}</h3>
  </div>
  <form [formGroup]="seasonForm" (ngSubmit)="save(model)">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" formControlName="name" />
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <label for="budget">Starting Budget</label>
          <input id="budget" type="number" min="0" class="form-control" formControlName="budget" />
        </div>
      </div>

      <div formGroupName="pointDefinition">
        <h4>Point Definitions</h4>

        <div class="row">
          <div class="form-group col">
            <label for="runs">Run</label>
            <input id="runs" type="number" min="0" class="form-control" formControlName="runs" />
          </div>

          <div class="form-group col">
            <label for="unassistedWickets">Unassisted Wickets</label>
            <input id="unassistedWickets" type="number" min="0" class="form-control" formControlName="unassistedWickets" />
          </div>

          <div class="form-group col">
            <label for="assistedWickets">Assisted Wickets</label>
            <input id="assistedWickets" type="number" min="0" class="form-control" formControlName="assistedWickets" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col">
            <label for="catches">Catches</label>
            <input id="catches" type="number" min="0" class="form-control" formControlName="catches" />
          </div>

          <div class="form-group col">
            <label for="runouts">Runouts</label>
            <input id="runouts" type="number" min="0" class="form-control" formControlName="runouts" />
          </div>

          <div class="form-group col">
            <label for="stumpings">Stumpings</label>
            <input id="stumpings" type="number" min="0" class="form-control" formControlName="stumpings" />
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="!seasonForm.valid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </form>
</ng-container>
