<ng-container *ngIf="season$ | async as season">
  <h1>Register Team</h1>
  <ng-container [ngSwitch]="season.status">

    <ng-container *ngSwitchCase="SeasonStateType.Registration">

      <h3>Competition: <strong>{{ season.name }}</strong></h3>
      <p>Enter the team name and owner for the team you want to register. Additional teams can be registered here as
        well.</p>

      <form [formGroup]="registerForm" (ngSubmit)="save(season)" class="team-register-form">
        <div class="d-lg-flex justify-content-between">
          <div formArrayName="teams" class="flex-fill mr-3">
            <ng-container *ngFor="let team of teams.controls; let i = index">
              <div class="card mb-3">
                <div class="card-body" [formGroupName]="i">
                  <a class="btn-close text-danger cursor-pointer" *ngIf="teams.length > 1" (click)="removeTeam(i)"><i
                      class="fas fa-fw fa-window-close fa-lg"></i></a>
                  <div class="form-group">
                    <label for="name-{{ i }}">Team Name</label>
                    <input type="text" id="name-{{ i }}" class="form-control" formControlName="name">
                  </div>
                  <div class="form-group">
                    <label for="owner-{{ i }}">Owner:</label>
                    <input type="text" id="owner-{{ i }}" class="form-control" formControlName="owner">
                  </div>
                </div>
              </div>
            </ng-container>
            <p>
              <button type="button" class="btn btn-success" (click)="addTeam()">
                <i class="fas fa-fw fa-plus"></i>
                Add Additional Team
              </button>
            </p>
          </div>

          <div class="invoice flex-fill">
            <h4>Total</h4>
            <table class="table">
              <tbody>
                <tr>
                  <td>Teams</td>
                  <td class="text-right">{{ teams.length }}</td>
                </tr>
                <tr>
                  <td>Cost per Team</td>
                  <td class="text-right">{{ season.cost | number:'1.2-2' }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>TOTAL</th>
                  <th class="text-right">{{ season.cost * teams.length | currency }}</th>
                </tr>
              </tfoot>
            </table>
            <h4>Secure Payment</h4>
            <app-square-pay (error)="handlePaymentErrors($event)" #payment></app-square-pay>
            <p class="text-right">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="!registerForm.valid || (save$ | async)?.saving">Register Teams</button>
            </p>
          </div>
        </div>
      </form>

    </ng-container>

    <ng-container *ngSwitchDefault>
      <div class="alert alert-info">
        <h5>This competition does not allowing the registering of any teams at this time.</h5>
      </div>
      <p>
        <a class="btn btn-secondary" [routerLink]="['/my/teams']">
          <i class="fas fa-fw fa-chevron-left"></i>
          Back
        </a>
      </p>
    </ng-container>

  </ng-container>
</ng-container>
