<ng-container *ngIf="model$ | async as model">
  <h1>My Teams</h1>

  <ng-container *ngIf="model.season.tradePeriod">
    <app-trade-countdown [tradePeriod]="model.season.tradePeriod" (expired)="reload()"></app-trade-countdown>
  </ng-container>

  <ng-container *ngIf="model.season.status !== SeasonStateType.Registration || (model.season.status === SeasonStateType.Registration && !model.season.tradePeriod)">
    <div class="alert alert-info">
      <h5>You cannot register any new teams at this time</h5>
    </div>
  </ng-container>

  <ng-container *ngIf="model.season.status === SeasonStateType.Registration">
    <div class="alert alert-info" *ngIf="model.teams.length === 0">
      <h5>You do not have any teams registered.</h5>
    </div>

    <div class="cmd-bar mb-3" *ngIf="model.season.status === SeasonStateType.Registration && !!model.season.tradePeriod">
      <a type="button" class="btn btn-lg btn-success" [routerLink]="['./register']">
        <i class="fas fa-fw fa-plus"></i>
        Register Team
      </a>
    </div>
  </ng-container>

  <app-user-team-data-view [teams]="model.teams" [season]="model.season" (teamUpdate)="reload()"></app-user-team-data-view>
</ng-container>
