<div class="d-flex g-2">
  <div class="card mr-2">
    <div class="card-body">
      <h3><a [routerLink]="['./tenant']">Tenants</a></h3>
    </div>
  </div>

  <div class="card mr-2">
    <div class="card-body">
      <h3><a [routerLink]="['./payment']">Payments</a></h3>
    </div>
  </div>

  <div class="card mr-2">
    <div class="card-body">
      <h3><a [routerLink]="['./laststand']">Last Stand</a></h3>
    </div>
  </div>

  <div class="card mr-2">
    <div class="card-body">
      <h3><a [routerLink]="['./system']">System</a></h3>
    </div>
  </div>
</div>
